# Ignore Python compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore coverage reports
.coverage
coverage.xml
htmlcov/

# Ignore node_modules (if using JavaScript/Node.js)
node_modules/

# Ignore specific files
config.json
.env
.pickle

# Others
SD-STGCN/dataset/
SD-STGCN/output/
data/
GNN/predictions/
